---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<p>Here are the list of talks I have presented at the PostgreSQL conference.</p>

<div class="pl-xl-3">
  {% assign last_year = nil %}
  {% for post in site.posts %}
    {% if post.section == "talks" %}
      {% assign cur_year = post.date | date: '%Y' %}

      {% if cur_year != last_year %}
        {% unless forloop.first %}</ul>{% endunless %}

        <h2 class="year display-10 mt-5" style="text-decoration: underline;">{{ cur_year }}</h2>
        <ul class="list-unstyled">
        
        {% assign last_year = cur_year %}
      {% endif %}
      <li class="mb-4">
        <h5 class="mb-1"> {{ post.title }}</h5>
        <div class="d-flex flex-wrap">
          
          {% if post.scheduleurl %}          
            <a href="{{ post.scheduleurl }}" class="" target="_blank">
          <i class="fas fa-calendar-alt"></i> Schedule
          </a>
          <span class="mx-2"></span>
          {% endif %}
          {% if post.slidesurl %}
            <a href="{{ post.slidesurl }}" class="" target="_blank">
            <i class="fas fa-file-powerpoint"></i> Slides
            </a>
            <span class="mx-2"></span>
          {% endif %}
          {% if post.videourl %}
            <a href="{{ post.videourl }}" class="" target="_blank">
          <i class="fas fa-video"></i> Video
            </a>
          {% endif %}
        </div>
          </li>
    
          {% if forloop.last %}</ul>{% endif %}
        {% endif %}
      {% endfor %}
    </div>